a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

}
/*CABEZERA*/
header{
    background-color: rgb(32, 29, 29);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
}
.logo{
    margin: 1rem;
    font-size: 1.7rem;
    font-weight: bold;

}
.logo i{
    padding: 0px 10px;
}
#check{
    display: none;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;    
}
.menu li{
    display: inline;
    padding: 2rem;
}
.menu li a{
    font-size: 1.2em;
}

.bar-btn{
  display: none;
}

/*CUERPO*/

.parte{
    min-height:400px;
}
/*TOP*/
.top{
    display: flex;
    flex-direction:column;
    justify-content: center;
    color: white;
    background-size: 100% 100%;
    align-items: flex-start;
    padding: 1rem;
}
.top h1{
    font-size: 3rem;
}
.top h2{
    font-size: 2rem;
}

.boton{
    border: 2px solid white;
    text-align: center;
    font-size: 1.5em;
    padding: 10px 15px;
    
}

/*CENTER*/
.center{
    text-align: justify;
}
.center h2{
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.4rem;
}
.center p{
    margin: 0px 10px;
    
}

.galeria{
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cuadrada{
    padding: 5rem;
    flex-wrap: nowrap;

}
.cuadrada .item{
    margin: 0 min(0.5rem);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

}

/*BOTTOM*/
.bottom{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(32, 29, 29);
}

.redonda{
    flex-wrap: wrap;
}

.redonda div{
    margin: 2rem 0;
}

.redonda div img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 50px;
}

/*FOOTER*/
footer{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

/*MEDIAQUERYS*/

@media (max-width: 1024px){
  
    .cuadrada{
        padding-bottom: 5px;
     }

     .menu{
         display: block;
        position: fixed;
        width: 100%;
        height: 0vh;
        right: 0px;
        top:69px;
        background: rgb(49, 49, 49,0.8);
       
        transition: all .5s;

    }
    .menu li{
        display: none;
        line-height: 30px;
        transition: all .5s;
        border-bottom: 2px white solid;
        padding: 50px 32px;
    
    }
    .menu li a{
        font-size: 1.2em;
        padding-bottom: 50px;
        transition: all .5s;
    }
    
    .bar-btn{
        display:flex;
        font-size: 25px;
        color: white;
        margin-right: 20px;
    } 

    #check:checked ~ .menu{
        height: 100vh;
    }
    #check:checked ~ .menu li{
        display: block;
    }

}

@media (max-width: 768px){
    .cuadrada{
        flex-wrap: wrap;
    }
    .redonda{
        flex-direction: column;
    }
}



